@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", Georgia, serif;
  --font-sans: "Poppins", sans-serif;
  
  --color-brand-obsidian: #181514;
  --color-brand-brown: #251E1A;
  --color-brand-taupe: #B39E8C;
  --color-brand-champagne: #D1C6BD;
  --color-brand-white: #FAFAFA;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-brand-obsidian);
  color: var(--color-brand-white);
  overflow-x: hidden;
}
